<?xml version="0.0" ?>
<robot name="box">
    <link name="box">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="10.0"/>
            <inertia ixx="334.16666666666669" ixy="0" ixz="0" iyy="334.16666666666669" iyz="0" izz="666.66666666666674"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="20 20 1"/>
            </geometry>
            <material name="bullet">
                <color rgba="0.6667, 0.2745, 0.2627 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="20 20 1"/>
            </geometry>
        </collision>
    </link>
</robot>

